<!doctype html>
<html>
  <head>
    <title>Test Page</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      html, body {
        min-height: 100%;
      }
      body {
        background-color: #195d9b;
        background: radial-gradient(#ce3201, #fe7348);
        font-family: "Lucida Grande";
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        color: #333;
      }
      #content {
        max-width: 840px;
        margin: 4em auto;
        padding: 2em 2em 6em;
        background-color: white;
        border: solid 1px #444;
      }
      h1, h2, h3 {
        text-align: center;
      }
      h1 {
        margin-bottom: 0.4em;
      }
      h2 {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 1em;
      }
      h3 {
        font-size: 14px;
        font-weight: normal;
      }
      table {
        width: 100%;
      }
      pre#code1 {
        padding: 0.6em 1em;
      }
      header {
        margin: 0 0 2em;
        padding: 0 0 2em;
        border-bottom: solid 1px #ccc;
      }
      p {
        font-size: 1.2em;
        margin: 0 0 1em;
        line-height: 1.6em;
        max-width: 540px;
      }

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
    </style>
  </head>
  <body>
    <div id="content">
      <header>
        <h1>Tired of installing and building JS libraries?</h1>
        <h2>ConcatJS serves all your dependencies in a minified file so the only thing you have to build is your application code.</h2>
        <h3>(a.k.a. Browserify-as-a-service)</h3>
      </header>

      <p>Start developing without a build step. Just put what libraries you want in the URL (separated by +'s).</p>

      <pre class="prettyprint lang-html" id="code1">

&lt;script src="http://localhost:3000/react+angular"&gt;&lt;/script&gt;
&lt;script&gt;
var React = require('react');
&lt;/script&gt;
      </pre>

    </div>

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  </body>
</html>
