<!doctype html>
<html>
  <head>
    <title>Test Page</title>
  </head>
  <body>
    <h1>Building JS libraries? Just build your application code.</h1>
    <h2>CatJS</h2>
    <h3>a.k.a. Browserify-as-a-service</h3>
    <script src="http://localhost:3000/react+angular"></script>
    <script>
      document.body.innerHTML += 'yes';
    </script>
  </body>
</html>
